body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.sidebar {
  position: absolute;
  width: 300px;
  height: 550px;
  left: 20px;
  top:200px;
    /* background-color: #B7A9A1; */
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  opacity: 1;
  z-index: 1000;
  padding:20px
}

#map {
  position: absolute;
  width:100%;
  height:88%;
  right: 0;
  top: 120px;
}

/* Add a black background color to the top navigation */
.topnav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: #29AF7FFF;
  opacity: 0.8;
  overflow: hidden;
  height: 60px;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  transition: transform .25s ease-in-out;
}

/* Headroom */




#logo {
    position: absolute;
    background-image: url(../image/logo4.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 385px;
    height: 80px;
    margin-top: 15px;
    margin-left: 30px;
}

.titlebar {
    border-bottom: 1px solid #efefef;
    background-color: rgb(44, 44, 44);
    opacity: 1;
    height: 120px;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .25s ease-in-out;
}
* {
    box-sizing: border-box;

}
/* Navigation bar inside the header*/


.nav{
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    text-align: center;
}

.nav-item {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    height:20px;
}

.nav-link {
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    margin-right: 30px;
    padding-right: 15px;
}

.nav-link:hover{
    color:grey
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #ffffff;
}

.nav-about:hover{
    background-image: url(../image/person-fill.svg);
}

.nav-info:hover{
    background-image: url(../image/info-circle-fill.svg);
}

.nav-info{
    background-image: url(../image/info-circle-fill.png);
}

.nav-about{
    background-image: url(../image/person-fill.png)
}

.nav-home:hover{
    background-image: url(../image/house-fill.svg);
}

.nav-help:hover{
    background-image: url(../image/question-circle-fill.svg);
}

.nav-home{
    background-image: url(../image/house-fill.png);
}

.nav-help{
    background-image: url(../image/question-circle-fill.png)
}

.nav-btn:hover{
    color:black;
    background-color: #ddd;
}

.nav-btn{
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
    margin-right: 10px;
    font-size: 14px;
    height: 120px;
    width: 100px;
    color: white;
    text-align: center;
    padding-top: 70px;
    }
    
.pull-right {
    float: right;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 10;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(66, 66, 66);
}


button {
    overflow: visible;
}

.btn-dark {
    position: fixed;
    font-size: 14px;
    border-style: none;
    background-color: rgb(44, 44, 44);
    z-index: 1000;
    margin-top: 140px;
    margin-left: 20px;
}

.btn-mapOption{
    background-image: url(../image/filter-left.png);
    background-size:40px;
    background-repeat: no-repeat;
    background-position-x: left;
    padding: 10px ;
    padding-left: 45px;
}

.dropbtn {
    position: relative;
    width: 170px;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn-start {
    background-color: #3498DB;
}

.btn-help {
    background-color: #a1a1a1;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  bottom: 50px;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}




.lblStyle {
color: red;
 padding: 4px;
width: 100%;
font-weight: bold;
}

#title,
#description,
#city_dropdown,
#var_dropdown {
  position: relative;
  color: white;
  left: 20px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}


h4 {
    display: block;
    margin-block-start: 20px;
    margin-block-end: 0;
    margin-inline-start: 85px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 36px;
}


.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.panel-snap-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
}

.panel-snap-container section {
    position: relative;
    overflow: hidden;
    padding: 80px;
    width: 100%;
    height: 100%;
}


ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.nav>a {
    position: relative;
    display: block;
}

.nav:after {
    clear: both;
}

.nav:after, .nav:before {
    content: "  ";
    display: table;
}

[role=button] {
    cursor: pointer;
}


a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

.chart-footer, .chart-hero, .content, body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    height: 800px;
    display: block;
    background-image: url(../nav_image.png);
    background-position: center center;
    background-size: cover;
    color: white!important;  /* or white to make title & description white  */
    padding: 200px 0;
}

.chart-hero .container {
    padding-top: 250px;
}

.space {
    padding: 70px ;
}

.container {
    width: 880px;
    margin: 0 auto;
    padding: 24px 0;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.text-center {
    text-align: center;
}

.container:after, .container:before {
    content: " ";
    display: table;
}

:after, :before {
    box-sizing: border-box;
}

.intro-container {
    background-color: #8a9396;
    color: #fff;
}

.intro-row {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 600px;
}

h1 {
    margin-top: 60px!important;
    font-size: 36px;
    text-align: center
}

h1:after {
    content: '';
    display: block;
    margin: 24px auto 48px auto;
    border-bottom: solid 4px;
    width: 120px;
}

.intro-row >p {
  padding-left: 50px;
  padding-right: 50px;
  text-align:justify;
}

.footer-container {
    background-color: #2a2a2b;
    background-repeat: no-repeat;
    padding: 36px 0;
    margin: 0 auto;
}

.footer-container strong {
    color: #fff;
    font-weight: 700;
}

.footer-container p {
    color: #666;
}

.next {
    position: relative;
    top: 10px;
    right: 24px;
    z-index: 1000;
    text-align: right;
}

.legend {
    position: absolute;
    right: 0;
    margin: 10px;
    margin-top: 210px;
    background-color: #fff;
    z-index: 3;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 1px #aaa;
    width: 240px;
    height: 330px;
  }

  .list li span {
    display: inline-block;
    height: 15px;
    width: 20px;
    padding: 10px;
    font-size: 12px;
    margin-right: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-angle-up:before {
    content: "\f106";
}

.pull-right {
    float: right;
}

.var-summary > .sidebar-table {
    position: relative;
    color: white;
    padding-left: 10px;
    font-size:14px;
    margin-right: 10px;
}

#tb-title {
    position: relative;
    font-size: 24px;
    color:rgb(145, 178, 212);
    padding-top: 30px;
    display: inline-block;
    font-weight: bold;
}

#tb-sub {
    position: relative;
    color: white;
    font-size: 14px;
}

.leaflet-marker-icon {
    border:1px solid rgba(255,255,255,0.5);
    border-radius:50%;
}

.CriminalHomiside {
    background-color: #7f0000
}

.ForcibleRape {
    background-color: #b30000
}

.Robbery {
    background-color: #d7301f
}

.AggravatedAssault{
    background-color:#ef6548
}

.Burglary{
    background-color: #fc8d59
}

.Larceny-Theft {
    background-color: #2171b5
}

.MotorVehicleTheft {
    background-color: #6baed6
}

.Arson{
    background-color: #fdbb84
}

.otherCrime{
    background-color: #e4d1b9;
    border:0.1px ;
    opacity: 0.8
}

.inputdate{
    width: 60px;
    padding-left:20px
}

.input{
    color: rgb(145, 178, 212);
    font-size: 16px;
    font-weight: bold;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: 1px;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #6086be;
    border-color: #000000;
}

.btn-outline-primary {
    color: #b8cff1;
    border-color: #0d6efd;
}
